# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# LaTeX Stuff
# *.pdf
*.log
*.aux

# Mac OSX
*.DS_Store
*.gch

# Editor Files
sftp-config.json

# Custom Items
laser-patroll
bin/
doc/report.pdf
doc/include/IEEEtran.zip
doc/include/IEEEtran
doc/doxygen/
